.header {
  margin: 0 auto;
  height: 80px;
  position: relative;
  z-index: 21;
  background: #fff;
}

.top {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 21;
  background: #fff;
  padding: 30px;
}
