@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

#root {
  max-width: 1440px;
  min-height: 101vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5ece7b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2fa455;
}
