.all-cart-products {
  max-height: calc(100vh - 340px);
  height: auto;
  overflow: auto;
}

.category-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
  margin-left: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.products-container::after {
  content: "";
  flex: 0 1 28%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  justify-content: center;
  width: 386px;
  max-height: 444px;
  overflow: hidden;
  text-decoration: none;
}

.product-disabled {
  opacity: 0.5;
  text-decoration: none;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 386px;
  max-height: 444px;
}

.product-disabled::before {
  content: "OUT OF STOCK";
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25px);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #8d8f9a;
  white-space: pre;
}

.product-img {
  display: flex;
  align-items: flex-start;
  max-height: 330px;
  overflow: hidden;
}

.product-img img {
  display: flex;
  max-width: 354px;
  width: auto;
  margin: 0 auto;
}

.product-title {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #1d1f22;
}

.product-price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.product {
  position: relative;
}

.to-cart-btn {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  position: absolute;
  bottom: 5%;
  right: 0;
  translate: -50% -50%;
  background: url(../../images/empty-cart.svg) #5ece7b no-repeat fixed center;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  transition: 0.3s;
}

.product-card:hover .to-cart-btn {
  opacity: 1;
  visibility: visible;
}
