.mini-cart-container {
  display: flex;
  position: relative;
}

.mini-cart {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  width: auto;
  max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
  overflow-y: auto; /* Add a scrollbar when the content exceeds the max height */
  z-index: 999;
  animation: slide-down 300ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-cart ul {
  margin: 16px;
  padding: 0;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-product {
  list-style: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.bag-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.bag-item {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.bag-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.mini-cart-item {
  display: flex;
  width: 350px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.mini-cart-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  height: 190px;
  justify-content: space-between;
}

.mini-cart-title,
.mini-cart-title span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin: 32px 16px;
}

.mini-cart-title span {
  font-weight: 800;
}

.mini-cart-products {
  display: flex;
  flex-direction: row;
  max-width: 325px;
  background: #fff;
  margin: 32px 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}

.mini-cart-product-desc {
  width: 325px;
  display: flex;
  flex-direction: column;
}

.mini-cart-product-price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}

.mini-cart-product-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-cart-product-image img {
  max-width: 120px;
  width: auto;
}

.mini-cart-qty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-cart-color-btn {
  width: 20px;
  height: 20px;
}

.mini-cart-btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #1d1f22;
  background: #fff;
  cursor: pointer;
  border: 1px solid #1d1f22;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.selected {
  border: 1px solid #fff;
  outline: 1px solid #5ece7b;
}

.selected-string {
  background: #1d1f22 !important;
  color: #fff !important;
}

.total {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
  padding: 0 16px;
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.total-items {
  background: #1d1f22;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  justify-content: center;
  top: 5px;
  right: -5px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.total-items.changed {
  transform: scale(1.2);
}

.checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 16px;
}

.view-bag-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 140px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.checkout-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 140px;
  height: 43px;
  background: #5ece7b;
  border: none;
  cursor: pointer;
}

.cart-category-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
  color: #1d1f22;
  margin: 80px auto 50px;
  max-width: 1440px;
  padding: 0 30px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  /* border-top: 1px solid #e5e5e5; */
  margin: 0 20px;
}

.cart-products {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.cart-product-desc-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin: 20px 0;
}

.cart-product-desc-brand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  margin: 16px 0;
}

.cart-product-price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d1f22;
}

.cart-product-attr-title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
  margin: 7px 0;
}

.cart-btn {
  background: #fff;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  margin: 0 4px 8px 0;
  cursor: pointer;
}

.cart-color-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.cart-total-qty-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
}

.tax {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d1f22;
}

.total-after-tax {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 16px 32px;
  width: 279px;
  height: 43px;
  background: #5ece7b;
  border: none;
}

.tax-total {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
}

.qty-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-product-slider {
  width: auto;
}

.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.slider img {
  height: 288px;
  width: auto;
}

.go-left {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 16px;
  right: 48px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-right {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 16px;
  right: 16px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Active slide */
.slide.active {
  opacity: 1;
}

/* Styles for the indicators (dots) */
.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* Additional styles for the indicators container */
}

.indicator {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  /* Additional styles for the indicators */
}

.indicator.active {
  background-color: #fff;
  /* Style for the active indicator */
}

/* Styles for the slider container */
.slider {
  position: relative;
  width: 100%;
}

/* Styles for the slide image */
.slide-image {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.slide-image:hover {
  transform: scale(1.1); /* Increase the size of the image on hover */
}

/* Styles for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Styles for the modal content */
.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.modal-content img {
  height: 500px;
  width: auto;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.close-button:hover {
  background: #ccc;
}

/* Styles for the "Previous" button */
.modal-button.previous {
  position: absolute;
  bottom: 0;
  left: 10px;
  transform: translateY(-50%);
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.modal-button.previous:hover {
  background: #ccc;
}

/* Styles for the "Next" button */
.modal-button.next {
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translateY(-50%);
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.modal-button.next:hover {
  background: #ccc;
}
