.currency-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  z-index: 999;
}

.currency {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  top: 65px;
  right: 32px;
  z-index: 999;
  background: #fff;
  cursor: pointer;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.currency-options {
  display: flex;
  justify-content: center;
  min-width: 115px;
}

.currency-options ul {
  list-style-type: none;
  padding: 0;
  line-height: 0%;
}

.currency-options:hover {
  background: #eeeeee;
  transition: 0.6s;
}

.switcher {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  min-width: 35px;
  width: auto;
}
